.Venues-page {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venues-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: flex-start;
}

.venueLink:nth-of-type(3n-1) {
  margin: 0 2.5vw;
  margin-bottom: 2.5vh;
}

.venue {
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  width: 25vw;
  height: 18vw;
  border-radius: 10px;
  box-shadow: 0px 5px 0px 5px #322c42;
}

.venueLink {
  margin-bottom: 5vh;
  text-decoration: none;
}

.venueName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3%;
  height: 16%;
  width: 100%;
  color: #322c42;
  font-weight: bold;
  background-color: rgba(255, 250, 250 , 0.35);
  font-family: Roboto Condensed;
  font-size: 1.25em;
  font-weight: 800;
}

@media only screen and (max-width: 1200px) {
  .venues-container {
    width: 95vw;
  }
  .venue {
    width: 45vw;
    height: 30vw;
  }

  .venueLink:nth-of-type(3n-1) {
    margin: 0 0;
    margin-bottom: 2.5vh;
  }

  .venueLink:nth-of-type(2n-1) {
    margin-right: 5vw;
    margin-bottom: 2.5vh;
  }
}

@media (max-width: 500px) {
  .venues-container {
    width: 80vw;
  }

  .venue {
    width: 80vw;
    height: 53vw;
  }

  .venueLink {
    margin-bottom: 2.5vh;
  }
}
