body {
  background-color: #dddddd; 
}

.homepageContainer {
    display: flex;
    flex-direction: row;
    margin-top: 8vh;
    justify-content: start;
}

.logo {
    height: 50%;
    width: 20%;
    padding-top: 6vw;
    padding-left: 5vw;
  }

.title {
    display: flex;
    flex-direction: row;
    color: #322c42;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin: 20vh 15vw;
    padding: 0;
    margin-bottom: 0;
    font-weight: 900;
}

p {
  display: flex;
  width: 45ch;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em;
  margin-left: 15vw;
  /* color: #322c42; */
  line-height: 1.5em;
  font-weight: 500;
}

.ctabutton {
  display: block;
  text-decoration: none;
  color: #f5f5f5;
  font-weight:620;
  font-size: 1.2em;
  background-color: #346751;
  margin-left: 15vw;
  width: fit-content;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0px 5px 0px 5px #322c42;
}

